In [1]:
# Задание на повторение материала предыдущего семестра

In [2]:
# Зависимости
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LogisticRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVR, SVC
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.cluster import KMeans

from sklearn.metrics import mean_squared_error, f1_score, silhouette_score

In [3]:
# Генерируем уникальный seed
my_code = "Demashkevich"
seed_limit = 2 ** 32
my_seed = int.from_bytes(my_code.encode(), "little") % seed_limit

In [4]:
# Данные загружены отсюда: https://www.kaggle.com/dwdkills/russian-demography
# Читаем данные из файла
example_data = pd.read_csv("datasets/russian_demography.csv")

In [5]:
# "year" - год (1990-2017)
# "region" - название региона
# "npg" - естественный прирост населения на 1000 человек
# "birth_rate" - количество рождений на 1000 человек
# "death_rate" - количество смертей на 1000 человек
# "gdw" - коэффициент демографической нагрузки на 100 человек (Отношение числа нетрудоспособных к числу трудоспособных).
# "urbanization" - процент городского населения

example_data.head()

   year              region  npg  birth_rate  death_rate    gdw  urbanization
0  1990  Republic of Adygea  1.9        14.2        12.3  84.66         52.42
1  1990          Altai Krai  1.8        12.9        11.1  80.24         58.07
2  1990         Amur Oblast  7.6        16.2         8.6  69.55         68.37
3  1990  Arkhangelsk Oblast  3.7        13.5         9.8  73.26         73.63
4  1990    Astrakhan Oblast  4.7        15.1        10.4  77.05         68.01

In [6]:
# Так как список регионов меняется от года к году, в данных есть строки без значений. Удалим их
example_data.dropna(inplace=True)

In [7]:
example_data.shape

(2315, 7)

In [8]:
# Определим размер валидационной и тестовой выборок
val_test_size = round(0.2*len(example_data))
print(val_test_size)

463

In [9]:
# Создадим обучающую, валидационную и тестовую выборки
random_state = my_seed
train_val, test = train_test_split(example_data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

1389 463 463

In [10]:
train.head()

,year,region,npg,birth_rate,death_rate,gdw,urbanization
1192,2004,Amur Oblast,-4.8,12.4,17.4,55.30,66.20
90,1991,Republic of Bashkortostan,4.7,14.7,10.0,81.85,64.41
902,2000,Pskov Oblast,-14.9,7.4,22.3,77.06,65.38
1669,2009,Komi Republic,-0.4,12.4,13.3,50.65,76.30
1188,2003,Yamalo-Nenets Autonomous Okrug,8.0,14.0,6.1,41.48,83.37

In [11]:
# Значения в числовых столбцах преобразуем к отрезку [0,1].
# Для настройки скалировщика используем только обучающую выборку.
columns_to_scale = ['year', 'npg', 'birth_rate', 'death_rate', 'gdw', 'urbanization']

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['year', 'npg', 'birth_rate', 'death_rate',
                                  'gdw', 'urbanization'])])

In [12]:
# Преобразуем значения, тип данных приводим к DataFrame
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [13]:
# Устанавливаем названия столбцов
column_names = columns_to_scale + ['region']
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [14]:
sc_val

,year,npg,birth_rate,death_rate,gdw,urbanization,region
0,0.62963,0.360202,0.307018,0.514423,0.373671,0.566584,Astrakhan Oblast
1,0.666667,0.269521,0.188596,0.557692,0.41832,0.565274,Rostov Oblast
2,0.777778,0.56927,0.464912,0.293269,0.319986,0.52992,Sakha (Yakutia) Republic
3,0.481481,0.654912,0.368421,0.028846,0.699327,0.246432,Republic of Ingushetia
4,0.222222,0.2267,0.083333,0.528846,0.666371,0.377373,Altai Krai
...,...,...,...,...,...,...,...
458,0.037037,0.287154,0.105263,0.4375,0.593728,0.733927,Moscow Oblast
459,0.481481,0.327456,0.307018,0.581731,0.394401,0.471651,Republic of Buryatia
460,0.925926,0.372796,0.280702,0.466346,0.508682,0.759068,Moscow Oblast
461,0.962963,0.319899,0.245614,0.528846,0.700035,0.814063,Kemerovo Oblast
462,0.851852,0.329975,0.245614,0.509615,0.44348,0.756449,Moscow Oblast

In [15]:
# Вспоминаем алгоритмы решения задачи регрессии
r_models = []

# Линейная регрессия
# Для использования регуляризации, вместо LinearRegression используем Lasso, Ridge или ElasticNet
# Параметр alpha - коэффициент регуляризации для Lasso и Ridge, по умолчанию равен 1
# Для ElasticNet, если регуляризация иммет вид a*L1+b*L2, то
# параметр alpha = a + b, по умолчанию равен 1
# параметр l1_ratio = a / (a + b), по умолчанию равен 0.5
r_models.append(LinearRegression())
r_models.append(Lasso(alpha=1.0))
r_models.append(Ridge(alpha=1.0))
r_models.append(ElasticNet(alpha=1.0, l1_ratio=0.5))

# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
r_models.append(KNeighborsRegressor(n_neighbors=5))
r_models.append(KNeighborsRegressor(n_neighbors=10))
r_models.append(KNeighborsRegressor(n_neighbors=15))

# Метод опорных векторов
# Параметр kernel опредеяет вид ядра преобразования
r_models.append(SVR(kernel='linear'))
r_models.append(SVR(kernel='poly'))
r_models.append(SVR(kernel='rbf'))
r_models.append(SVR(kernel='sigmoid'))

# Деревья решений
# Параметр criterion - критерий качества ветвления: 'mse', 'friedman_mse', 'mae', 'poisson'
r_models.append(DecisionTreeRegressor(criterion='squared_error'))
r_models.append(DecisionTreeRegressor(criterion='friedman_mse'))
r_models.append(DecisionTreeRegressor(criterion='absolute_error'))

In [16]:
r_models

[LinearRegression(),
 Lasso(),
 Ridge(),
 ElasticNet(),
 KNeighborsRegressor(),
 KNeighborsRegressor(n_neighbors=10),
 KNeighborsRegressor(n_neighbors=15),
 SVR(kernel='linear'),
 SVR(kernel='poly'),
 SVR(),
 SVR(kernel='sigmoid'),
 DecisionTreeRegressor(),
 DecisionTreeRegressor(criterion='friedman_mse'),
 DecisionTreeRegressor(criterion='absolute_error')]

In [17]:
# Выделим предикторы и зависимую переменную
x_labels = column_names[0:-2]
y_labels = ['urbanization']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_labels])
y_test = np.ravel(sc_test[y_labels])
y_val = np.ravel(sc_val[y_labels])

In [18]:
x_labels

['year', 'npg', 'birth_rate', 'death_rate', 'gdw']

In [19]:
y_labels

['urbanization']

In [20]:
# Обучаем модели
for model in r_models:
    print(model)
    model.fit(x_train, y_train)

LinearRegression()
Lasso()
Ridge()
ElasticNet()
KNeighborsRegressor()
KNeighborsRegressor(n_neighbors=10)
KNeighborsRegressor(n_neighbors=15)
SVR(kernel='linear')
SVR(kernel='poly')
SVR()
SVR(kernel='sigmoid')
DecisionTreeRegressor()
DecisionTreeRegressor(criterion='friedman_mse')
DecisionTreeRegressor(criterion='absolute_error')

In [21]:
# Оценииваем качество работы моделей на валидационной выборке.
mses = []
for model in r_models:
    val_pred = model.predict(x_val)
    mse = mean_squared_error(y_val, val_pred)
    mses.append(mse)
    print(model, '\t', mse)

LinearRegression() 	 0.018789791378819063
Lasso() 	 0.029348690838427963
Ridge() 	 0.018788786733478093
ElasticNet() 	 0.029348690838427963
KNeighborsRegressor() 	 0.010665268280966488
KNeighborsRegressor(n_neighbors=10) 	 0.011869432084068458
KNeighborsRegressor(n_neighbors=15) 	 0.012721177842895691
SVR(kernel='linear') 	 0.019053614088083076
SVR(kernel='poly') 	 0.012293778905114579
SVR() 	 0.010891861349700343
SVR(kernel='sigmoid') 	 44.37686162367237
DecisionTreeRegressor() 	 0.01926859267555474
DecisionTreeRegressor(criterion='friedman_mse') 	 0.020494850616484612
DecisionTreeRegressor(criterion='absolute_error') 	 0.024311742944487028

In [22]:
# Выбираем лучшую модель
i_min = mses.index(min(mses))
best_r_model = r_models[i_min]
best_r_model

KNeighborsRegressor()

In [23]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_r_model.predict(x_test)
mse = mean_squared_error(y_test, test_pred)
print(mse)

0.012280284955188018

In [24]:
# Вспоминаем алгоритмы решения задачи классификации
c_models = []

# Логистическая регрессия
# Параметр penalty - тип регуляризации: 'l1', 'l2', 'elasticnet', 'none'}, по умолчанию 'l2'
# Для некоторых типов регуляризации доступны не все алгоритмы (параметр solver)
# Для elasticnet регуляризации необходимо уазывать параметр l1_ratio (0 - l2, 1 - l1)
c_models.append(LogisticRegression(penalty='none', solver='saga', max_iter=500))
c_models.append(LogisticRegression(penalty='l1', solver='saga', max_iter=500))
c_models.append(LogisticRegression(penalty='l2', solver='saga'))
c_models.append(LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga'))
c_models.append(LogisticRegression())

# Наивный байесовский классификатор
# Параметр alpha - параметр сглаживания, по умолчанию равен 1 (сглаживание Лапласа)
c_models.append(MultinomialNB(alpha=0.0))
c_models.append(MultinomialNB(alpha=0.5))
c_models.append(MultinomialNB(alpha=1.0))

# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
c_models.append(KNeighborsClassifier(n_neighbors=5))
c_models.append(KNeighborsClassifier(n_neighbors=10))
c_models.append(KNeighborsClassifier(n_neighbors=15))

# Метод опорных векторов
# Параметр kernel опредеяет вид ядра преобразования
c_models.append(SVC(kernel='linear'))
c_models.append(SVC(kernel='poly'))
c_models.append(SVC(kernel='rbf'))
c_models.append(SVC(kernel='sigmoid'))

# Деревья решений
# Параметр criterion - критерий качества ветвления: 'gini', 'entropy'
# Параметр splitter - стартегия ветвления: 'best', 'random'
c_models.append(DecisionTreeClassifier(criterion='gini', splitter='best'))
c_models.append(DecisionTreeClassifier(criterion='gini', splitter='random'))
c_models.append(DecisionTreeClassifier(criterion='entropy', splitter='best'))
c_models.append(DecisionTreeClassifier(criterion='entropy', splitter='random'))

In [25]:
c_models

[LogisticRegression(max_iter=500, penalty='none', solver='saga'),
 LogisticRegression(max_iter=500, penalty='l1', solver='saga'),
 LogisticRegression(solver='saga'),
 LogisticRegression(l1_ratio=0.5, penalty='elasticnet', solver='saga'),
 LogisticRegression(),
 MultinomialNB(alpha=0.0),
 MultinomialNB(alpha=0.5),
 MultinomialNB(),
 KNeighborsClassifier(),
 KNeighborsClassifier(n_neighbors=10),
 KNeighborsClassifier(n_neighbors=15),
 SVC(kernel='linear'),
 SVC(kernel='poly'),
 SVC(),
 SVC(kernel='sigmoid'),
 DecisionTreeClassifier(),
 DecisionTreeClassifier(splitter='random'),
 DecisionTreeClassifier(criterion='entropy'),
 DecisionTreeClassifier(criterion='entropy', splitter='random')]

In [26]:
# Выделим предикторы и метки классов
x_labels = column_names[0:-1]
y_labels = ['region']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_labels])
y_test = np.ravel(sc_test[y_labels])
y_val = np.ravel(sc_val[y_labels])

In [27]:
x_train

          year       npg birth_rate death_rate       gdw urbanization
0     0.518519  0.254408   0.258772   0.677885  0.296775     0.557418
1     0.037037  0.493703   0.359649   0.322115  0.767186     0.533979
2      0.37037       0.0   0.039474   0.913462  0.682318     0.546681
3     0.703704  0.365239   0.258772   0.480769  0.214387     0.689669
4     0.481481  0.576826   0.328947   0.134615  0.051914     0.782244
...        ...       ...        ...        ...       ...          ...
1384  0.222222  0.231738   0.100877   0.538462  0.779766     0.533063
1385  0.888889  0.647355   0.469298   0.149038  0.244507     0.895247
1386   0.62963  0.322418   0.192982   0.466346   0.36623     0.668718
1387   0.37037  0.324937   0.166667   0.432692  0.690113     0.565143
1388  0.592593  0.609572   0.385965      0.125  0.461906     0.264109

[1389 rows x 6 columns]

In [28]:
# Обучаем модели
for model in c_models:
    print(model)
    model.fit(x_train, y_train)

LogisticRegression(max_iter=500, penalty='none', solver='saga')

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

LogisticRegression(max_iter=500, penalty='l1', solver='saga')

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

LogisticRegression(solver='saga')
LogisticRegression(l1_ratio=0.5, penalty='elasticnet', solver='saga')
LogisticRegression()
MultinomialNB(alpha=0.0)
MultinomialNB(alpha=0.5)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/naive_bayes.py:557: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  % _ALPHA_MIN

MultinomialNB()
KNeighborsClassifier()
KNeighborsClassifier(n_neighbors=10)
KNeighborsClassifier(n_neighbors=15)
SVC(kernel='linear')
SVC(kernel='poly')
SVC()
SVC(kernel='sigmoid')
DecisionTreeClassifier()
DecisionTreeClassifier(splitter='random')
DecisionTreeClassifier(criterion='entropy')
DecisionTreeClassifier(criterion='entropy', splitter='random')

In [29]:
# Оценииваем качество работы моделей на валидационной выборке.
f1s = []
for model in c_models:
    val_pred = model.predict(x_val)
    f1 = f1_score(y_val, val_pred, average='weighted')
    f1s.append(f1)
    print(model, '\t', f1)

LogisticRegression(max_iter=500, penalty='none', solver='saga') 	 0.35515910845602117
LogisticRegression(max_iter=500, penalty='l1', solver='saga') 	 0.1334264438511934
LogisticRegression(solver='saga') 	 0.06024200011567755
LogisticRegression(l1_ratio=0.5, penalty='elasticnet', solver='saga') 	 0.06251877611253383
LogisticRegression() 	 0.06024200011567755
MultinomialNB(alpha=0.0) 	 0.02826901342670025
MultinomialNB(alpha=0.5) 	 0.02545116322935836
MultinomialNB() 	 0.02120445555825277
KNeighborsClassifier() 	 0.36415949172910905
KNeighborsClassifier(n_neighbors=10) 	 0.2650958416363066
KNeighborsClassifier(n_neighbors=15) 	 0.2318876319086952
SVC(kernel='linear') 	 0.05603216354800891
SVC(kernel='poly') 	 0.650527600693934
SVC() 	 0.17983738085369452
SVC(kernel='sigmoid') 	 0.00016614055490945338
DecisionTreeClassifier() 	 0.6366258133092081
DecisionTreeClassifier(splitter='random') 	 0.57742289181366
DecisionTreeClassifier(criterion='entropy') 	 0.5867626766004556
DecisionTreeClassifier(criterion='entropy', splitter='random') 	 0.5163133577979214

In [30]:
# Выбираем лучшую модель
i_max = f1s.index(max(f1s))
best_c_model = c_models[i_max]
best_c_model

SVC(kernel='poly')

In [31]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_c_model.predict(x_test)
f1 = f1_score(y_test, test_pred, average='weighted')
print(f1)

0.7111373597899171

In [32]:
# Вспоминаем алгоритм решения задачи кластеризации - метод k-средних
# Параметр n_clusters - количество кластеров, по умолчанию равен 8
k_models = []
k_models.append(KMeans(n_clusters=5))
k_models.append(KMeans(n_clusters=8))
k_models.append(KMeans(n_clusters=20))
k_models.append(KMeans(n_clusters=50))

In [33]:
# Выделим используемые параметры
x_labels = column_names[0:-1]
x = pd.concat([sc_train[x_labels], sc_val[x_labels], sc_test[x_labels]])
x

         year       npg birth_rate death_rate       gdw urbanization
0    0.518519  0.254408   0.258772   0.677885  0.296775     0.557418
1    0.037037  0.493703   0.359649   0.322115  0.767186     0.533979
2     0.37037       0.0   0.039474   0.913462  0.682318     0.546681
3    0.703704  0.365239   0.258772   0.480769  0.214387     0.689669
4    0.481481  0.576826   0.328947   0.134615  0.051914     0.782244
..        ...       ...        ...        ...       ...          ...
458  0.925926  0.264484   0.214912   0.600962  0.635011     0.604557
459  0.888889  0.828715   0.657895   0.009615  0.534018     0.219589
460  0.814815  0.244332   0.219298   0.644231  0.550142     0.706691
461  0.296296  0.324937   0.149123   0.413462  0.684798     0.476496
462  0.333333  0.110831    0.02193   0.682692  0.629872     0.663873

[2315 rows x 6 columns]

In [34]:
# Произведем кластеризацию
for model in k_models:
    model.fit(x)

In [35]:
# Оценим качество результата
sils = []
for model in k_models:
    cluster_labels = model.predict(x)
    s = silhouette_score(x, cluster_labels)
    sils.append(s)
    print(s)

0.29440554773315425
0.2472039145261532
0.23703750987031558
0.2320120094080817

In [36]:
# Выбираем лучшую модель
i_max = sils.index(max(sils))
best_k_model = k_models[i_max]
print(best_k_model)
print(sils[i_max])

KMeans(n_clusters=5)
0.29440554773315425

In [37]:
# Задание №1 - анализ моделей для задачи регрессии
# Общий список моделей
r_models = [
    LinearRegression(),
    Lasso(alpha=1.0),
    Lasso(alpha=0.5),
    Ridge(alpha=1.0),
    Ridge(alpha=0.5),
    ElasticNet(alpha=1.0, l1_ratio=0.5),
    ElasticNet(alpha=1.0, l1_ratio=0.25),
    ElasticNet(alpha=1.0, l1_ratio=0.75),
    ElasticNet(alpha=0.5, l1_ratio=0.5),
    ElasticNet(alpha=0.5, l1_ratio=0.25),
    ElasticNet(alpha=0.5, l1_ratio=0.75),
    KNeighborsRegressor(n_neighbors=5),
    KNeighborsRegressor(n_neighbors=10),
    KNeighborsRegressor(n_neighbors=15),
    KNeighborsRegressor(n_neighbors=20),
    KNeighborsRegressor(n_neighbors=25),
    SVR(kernel='linear'),
    SVR(kernel='poly'),
    SVR(kernel='rbf'),
    SVR(kernel='sigmoid'),
    DecisionTreeRegressor(criterion='squared_error'),
    DecisionTreeRegressor(criterion='friedman_mse'),
    DecisionTreeRegressor(criterion='absolute_error')
]

In [38]:
# Выбор моделей для задания
n = 4
random.seed(my_seed)
my_models1 = random.sample(r_models, n)
print(my_models1)

[SVR(kernel='poly'), ElasticNet(), Lasso(), KNeighborsRegressor(n_neighbors=20)]

In [39]:
# Загрузим данные для задачи регрессии
data = pd.read_csv("datasets/weather.csv", decimal=',')
data

,water_level,precipitation,temperature,humidity,visibility,wind,weather,pressure,fire,wl_change,temp_change,pressure_change
0,468.0,0.0,24.9,31.0,100.0,4.0,0.0,993.8,4.0,-3.0,-0.3,-0.4
1,140.0,0.0,27.9,22.0,20.0,1.0,0.0,1004.1,4.0,-2.0,0.6,-1.0
2,464.0,0.0,25.6,28.0,20.0,2.0,1.0,1001.2,4.0,-7.0,-1.8,-0.3
3,467.0,0.0,26.7,26.0,100.0,3.0,0.0,992.3,4.0,-1.0,1.2,-1.3
4,138.0,0.0,29.1,22.0,20.0,1.0,0.0,1001.3,4.0,-2.0,2.5,-1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
1434,474.0,0.1,6.4,95.0,4.0,1.0,3.0,999.9,4.0,-1.0,5.9,1.5
1435,65.0,0.0,6.4,93.0,10.0,4.0,3.0,983.9,4.0,-1.0,5.2,3.1
1436,159.0,0.1,8.5,83.0,10.0,2.0,1.0,969.7,4.0,1.0,1.4,1.9
1437,99.0,0.1,7.5,91.0,10.0,3.0,3.0,995.4,4.0,-4.0,2.7,1.7
1438,227.0,0.3,6.9,79.0,10.0,7.0,4.0,990.4,4.0,-1.0,1.3,1.7

In [40]:
# Зависимая переменная для всех одна и та же. Предикторы выбираем случайнм образом.
columns = list(data.columns)
n_x = 5

y_label = 'water_level'
x_labels = random.sample(columns[1:], n_x)

print(x_labels)

['precipitation', 'wl_change', 'humidity', 'visibility', 'wind']

In [41]:
# Преобразуйте значения всех необходимых параметров к отрезку [0,1].
# Решите получившуюся задачу регрессии с помощью выбранных моделей и сравните их эффективность.
# Укажите, какая модель решает задачу лучше других.

data = data.drop(['temperature', 'weather', 'pressure', 'fire', 'temp_change', 'pressure_change'],axis=1)

In [42]:
data

      water_level  precipitation  humidity  visibility  wind  wl_change
0           468.0            0.0      31.0       100.0   4.0       -3.0
1           140.0            0.0      22.0        20.0   1.0       -2.0
2           464.0            0.0      28.0        20.0   2.0       -7.0
3           467.0            0.0      26.0       100.0   3.0       -1.0
4           138.0            0.0      22.0        20.0   1.0       -2.0
...           ...            ...       ...         ...   ...        ...
1434        474.0            0.1      95.0         4.0   1.0       -1.0
1435         65.0            0.0      93.0        10.0   4.0       -1.0
1436        159.0            0.1      83.0        10.0   2.0        1.0
1437         99.0            0.1      91.0        10.0   3.0       -4.0
1438        227.0            0.3      79.0        10.0   7.0       -1.0

[1439 rows x 6 columns]

In [43]:
data.shape
val_test_size = round(0.2*len(data))
print(val_test_size)

288

In [44]:
random_state = my_seed
train_val, test = train_test_split(data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

863 288 288

In [45]:
train.head()

     water_level  precipitation  humidity  visibility  wind  wl_change
679        574.0            0.0      17.0        10.0   8.0        7.0
206        345.0            0.0      83.0        20.0   3.0       -1.0
846        493.0            0.0      17.0        20.0   5.0       -3.0
790        637.0            0.0      17.0        10.0   4.0        5.0
460        109.0            0.0      95.0         0.0   3.0        0.0

In [46]:
columns_to_scale = ['water_level', 'precipitation', 'wl_change', 'humidity', 'visibility', 'wind']

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['water_level', 'precipitation', 'wl_change',
                                  'humidity', 'visibility', 'wind'])])

In [47]:
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [48]:
column_names = columns_to_scale 
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [49]:
sc_val

     water_level  precipitation  wl_change  humidity  visibility  wind
0       0.530885            0.0   0.354369  0.727273         0.2   0.2
1       0.606845            0.0   0.364078  0.397727         0.1   0.1
2       0.691987            0.0   0.407767  0.375000         0.1   0.2
3       0.428214            0.0   0.432039  0.181818         0.2   0.5
4       0.206177            0.0   0.388350  0.738636         1.0   0.0
..           ...            ...        ...       ...         ...   ...
283     0.729549            0.0   0.509709  0.045455         1.0   0.3
284     0.264608            0.0   0.383495  0.534091         0.2   0.0
285     0.199499            0.0   0.383495  0.534091         0.1   0.4
286     0.257930            0.0   0.373786  0.704545         1.0   0.1
287     0.608514            0.0   0.427184  0.170455         0.1   0.4

[288 rows x 6 columns]

In [50]:
r_models = []

r_models.append(ElasticNet(alpha=0.5))
r_models.append(ElasticNet(alpha=0.5, l1_ratio=0.75))

r_models.append(SVR())

r_models.append(Ridge())
r_models

[ElasticNet(alpha=0.5), ElasticNet(alpha=0.5, l1_ratio=0.75), SVR(), Ridge()]

In [51]:
x_labels = column_names[0:-1]
y_labels = ['water_level']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_labels])
y_test = np.ravel(sc_test[y_labels])
y_val = np.ravel(sc_val[y_labels])

In [52]:
for model in r_models:
    print(model)
    model.fit(x_train, y_train)

ElasticNet(alpha=0.5)
ElasticNet(alpha=0.5, l1_ratio=0.75)
SVR()
Ridge()

In [53]:
mses = []
for model in r_models:
    val_pred = model.predict(x_val)
    mse = mean_squared_error(y_val, val_pred)
    mses.append(mse)
    print(model, '\t', mse)

ElasticNet(alpha=0.5) 	 0.03250228983195223
ElasticNet(alpha=0.5, l1_ratio=0.75) 	 0.03250228983195223
SVR() 	 0.0016886449788398488
Ridge() 	 4.0227754824147576e-05

In [54]:
i_min = mses.index(min(mses))
best_r_model = r_models[i_min]
best_r_model

Ridge()

In [55]:
test_pred = best_r_model.predict(x_test)
mse = mean_squared_error(y_test, test_pred)
print(mse)

4.595787433927153e-05

In [56]:
# Задание №2 - анализ моделей для задачи классификации
# Общий список моделей
c_models = [
    LogisticRegression(penalty='none', solver='saga'),
    LogisticRegression(penalty='l1', solver='saga'),
    LogisticRegression(penalty='l2', solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.25, solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.75, solver='saga'),
    LogisticRegression(),
    MultinomialNB(alpha=0.0),
    MultinomialNB(alpha=0.25),
    MultinomialNB(alpha=0.5),
    MultinomialNB(alpha=0.75),
    MultinomialNB(alpha=1.0),
    KNeighborsClassifier(n_neighbors=5),
    KNeighborsClassifier(n_neighbors=10),
    KNeighborsClassifier(n_neighbors=15),
    KNeighborsClassifier(n_neighbors=20),
    KNeighborsClassifier(n_neighbors=25),
    SVC(kernel='linear'),
    SVC(kernel='poly'),
    SVC(kernel='rbf'),
    SVC(kernel='sigmoid'),
    DecisionTreeClassifier(criterion='gini', splitter='best'),
    DecisionTreeClassifier(criterion='gini', splitter='random'),
    DecisionTreeClassifier(criterion='entropy', splitter='best'),
    DecisionTreeClassifier(criterion='entropy', splitter='random')
]

In [57]:
# Выбор моделей для задания
n = 5
my_models2 = random.sample(c_models, n)
print(my_models2)

[LogisticRegression(penalty='none', solver='saga'), LogisticRegression(l1_ratio=0.25, penalty='elasticnet', solver='saga'), KNeighborsClassifier(n_neighbors=25), KNeighborsClassifier(n_neighbors=20), MultinomialNB(alpha=0.25)]

In [58]:
# Загрузим данные для задачи классификации
newdata = pd.read_csv("datasets/zoo2.csv")
newdata

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,turtle,0,0,1,0,0,1,0,0,1,1,0,0,4,1,1,1,3
1,chameleon,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
2,iguana,0,0,1,0,0,0,1,1,1,1,0,0,4,1,1,1,3
3,lizard,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
4,gecko,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
5,python,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
6,boa,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,1,3
7,adder,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
8,crocodile,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
9,alligator,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
10,gharial,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
11,skink,0,0,1,0,0,0,0,1,1,1,0,0,4,1,0,0,3
12,anchovy,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,4
13,flounder,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
14,halibut,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
15,mackerel,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
16,barracuda,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
17,marlin,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
18,trout,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
19,salamander,0,0,1,0,0,1,0,1,1,1,0,0,4,1,1,0,5
20,siren,0,0,1,0,0,1,0,1,1,1,0,0,2,1,0,0,5
21,tree frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
22,dart frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
23,firebelly,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
24,wart toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
25,mosquito,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
26,hornet,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
27,cricket,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
28,beetle,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
29,butterfly,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
30,palmetto,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
31,cockroach,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
32,mantis,0,0,1,0,0,0,1,0,0,1,0,0,6,0,0,0,6
33,dragonfly,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
34,aphid,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
35,cicada,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
36,antlion,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
37,scallop,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,7
38,spider,0,0,1,0,0,0,1,1,0,1,1,0,8,0,0,0,7
39,snail,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
40,silkworm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
41,jellyfish,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,7
42,squid,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,7

In [59]:
# Метка класса для всех одна и та же. Параметры выбираем случайнм образом.
columns = list(newdata.columns)
n_x = 8

y_newlabel = 'class_type'
x_newlabels = random.sample(columns[1:-1], n_x)

print(x_newlabels)

['catsize', 'domestic', 'hair', 'toothed', 'breathes', 'milk', 'venomous', 'airborne']

In [60]:
labels = x_newlabels.copy()
labels.append(y_newlabel)
temp_data = newdata[labels]
sec_data = temp_data

In [61]:
sec_data

,catsize,domestic,hair,toothed,breathes,milk,venomous,airborne,class_type
0,1,1,0,0,1,0,0,0,3
1,0,1,0,1,1,0,0,0,3
2,1,1,0,1,1,0,0,0,3
3,0,0,0,1,1,0,0,0,3
4,0,1,0,1,1,0,0,0,3
5,1,0,0,1,1,0,1,0,3
6,1,0,0,1,1,0,0,0,3
7,1,0,0,1,1,0,1,0,3
8,1,0,0,1,1,0,0,0,3
9,1,0,0,1,1,0,0,0,3
10,1,0,0,1,1,0,0,0,3
11,0,0,0,1,1,0,0,0,3
12,0,0,0,0,0,0,0,0,4
13,1,0,0,0,0,0,0,0,4
14,1,0,0,0,0,0,0,0,4
15,1,0,0,0,0,0,0,0,4
16,1,0,0,1,0,0,0,0,4
17,1,0,0,0,0,0,0,0,4
18,1,0,0,0,0,0,0,0,4
19,0,1,0,1,1,0,0,0,5
20,0,0,0,1,1,0,0,0,5
21,0,0,0,1,1,0,0,0,5
22,0,0,0,1,1,0,0,0,5
23,0,0,0,1,1,0,0,0,5
24,0,0,0,1,1,0,0,0,5
25,0,0,0,0,1,0,0,1,6
26,0,0,0,0,1,0,1,1,6
27,0,0,0,0,1,0,0,0,6
28,0,0,0,0,1,0,0,0,6
29,0,0,1,0,1,0,0,1,6
30,0,0,0,0,1,0,0,1,6
31,0,0,0,0,1,0,0,0,6
32,0,0,0,0,1,0,0,0,6
33,0,0,0,0,1,0,0,1,6
34,0,0,0,0,1,0,0,0,6
35,0,0,0,0,1,0,0,1,6
36,0,0,0,0,1,0,0,1,6
37,0,0,0,0,0,0,0,0,7
38,0,0,0,1,1,0,1,0,7
39,0,0,0,0,1,0,0,0,7
40,0,0,0,0,1,0,0,0,7
41,1,0,0,0,0,0,1,0,7
42,1,0,0,0,0,0,0,0,7

In [62]:
# Преобразуйте значения всех необходимых параметров к отрезку [0,1].
# Решите получившуюся задачу классификации с помощью выбранных моделей и сравните их эффективность.
# Укажите, какая модель решает задачу лучше других.

sec_data.shape

(43, 9)

In [63]:
val_test_size2 = round(0.2*len(sec_data))
print(val_test_size2)

9

In [64]:
random_state = my_seed
train_val2, test2 = train_test_split(sec_data, test_size=val_test_size2, random_state=random_state)
sec_train, val2 = train_test_split(train_val2, test_size=val_test_size2, random_state=random_state)
print(len(sec_train), len(val2), len(test2))

25 9 9

In [65]:
sec_train.head()

,catsize,domestic,hair,toothed,breathes,milk,venomous,airborne,class_type
12,0,0,0,0,0,0,0,0,4
9,1,0,0,1,1,0,0,0,3
25,0,0,0,0,1,0,0,1,6
27,0,0,0,0,1,0,0,0,6
35,0,0,0,0,1,0,0,1,6

In [66]:
columns_to_scale2 = x_newlabels

ct2 = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale2)], remainder='passthrough')
ct2.fit(sec_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['catsize', 'domestic', 'hair', 'toothed',
                                  'breathes', 'milk', 'venomous',
                                  'airborne'])])

In [67]:
sc_train2 = pd.DataFrame(ct2.transform(sec_train))
sc_test2 = pd.DataFrame(ct2.transform(test2))
sc_val2 = pd.DataFrame(ct2.transform(val2))
column_names2 = columns_to_scale2 + ['class_type']
sc_train2.columns = column_names2
sc_test2.columns = column_names2
sc_val2.columns = column_names2
sc_val2

,catsize,domestic,hair,toothed,breathes,milk,venomous,airborne,class_type
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0
1,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,3.0
2,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
4,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,5.0
5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0
6,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,5.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
8,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,6.0

In [68]:
# Вспоминаем алгоритмы решения задачи классификации
c_models = []

# Логистическая регрессия
# Параметр penalty - тип регуляризации: 'l1', 'l2', 'elasticnet', 'none'}, по умолчанию 'l2'
# Для некоторых типов регуляризации доступны не все алгоритмы (параметр solver)
# Для elasticnet регуляризации необходимо уазывать параметр l1_ratio (0 - l2, 1 - l1)
c_models.append(LogisticRegression(penalty='l1', solver='saga'))


# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
c_models.append(KNeighborsClassifier(n_neighbors=5))

# Метод опорных векторов
# Параметр kernel опредеяет вид ядра преобразования
c_models.append(SVC(kernel='sigmoid'))

# Деревья решений
# Параметр criterion - критерий качества ветвления: 'gini', 'entropy'
# Параметр splitter - стартегия ветвления: 'best', 'random'
c_models.append(DecisionTreeClassifier())
c_models.append(DecisionTreeClassifier(splitter='random'))
c_models
[LogisticRegression(penalty='l1', solver='saga'),
 KNeighborsClassifier(),
 SVC(kernel='sigmoid'),
 DecisionTreeClassifier(),
 DecisionTreeClassifier(splitter='random')]
x_labels2 = column_names2[0:-1]
y_labels2 = ['class_type']

x_train2 = sc_train2[x_labels2]
x_test2 = sc_test2[x_labels2]
x_val2 = sc_val2[x_labels2]

y_train2 = np.ravel(sc_train2[y_labels2])
y_test2 = np.ravel(sc_test2[y_labels2])
y_val2 = np.ravel(sc_val2[y_labels2])
x_train2

    catsize  domestic  hair  toothed  breathes  milk  venomous  airborne
0       0.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
1       1.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
2       0.0       0.0   0.0      0.0       1.0   0.0       0.0       1.0
3       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
4       0.0       0.0   0.0      0.0       1.0   0.0       0.0       1.0
5       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
6       1.0       0.0   0.0      1.0       1.0   0.0       1.0       0.0
7       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
8       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
9       1.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
10      1.0       0.0   0.0      0.0       0.0   0.0       1.0       0.0
11      1.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
12      0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
13      0.0       0.0   0.0      0.0       1.0   0.0       0.0       1.0
14      1.0       1.0   0.0      0.0       1.0   0.0       0.0       0.0
15      0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
16      0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
17      0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
18      1.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
19      0.0       0.0   0.0      1.0       1.0   0.0       1.0       0.0
20      1.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
21      1.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
22      0.0       1.0   0.0      1.0       1.0   0.0       0.0       0.0
23      1.0       1.0   0.0      1.0       1.0   0.0       0.0       0.0
24      0.0       0.0   1.0      0.0       1.0   0.0       0.0       1.0

In [69]:
# Обучаем модели
for model2 in c_models:
    print(model2)
    model2.fit(x_train2, y_train2)

LogisticRegression(penalty='l1', solver='saga')
KNeighborsClassifier()
SVC(kernel='sigmoid')
DecisionTreeClassifier()
DecisionTreeClassifier(splitter='random')

In [70]:
# Оценииваем качество работы моделей на валидационной выборке.
f1s = []
for model2 in c_models:
    val_pred2 = model2.predict(x_val2)
    f1 = f1_score(y_val2, val_pred2, average='weighted')
    f1s.append(f1)
    print(model2, '\t', f1)

LogisticRegression(penalty='l1', solver='saga') 	 0.7407407407407408
KNeighborsClassifier() 	 0.6111111111111112
SVC(kernel='sigmoid') 	 0.5462962962962963
DecisionTreeClassifier() 	 0.7407407407407408
DecisionTreeClassifier(splitter='random') 	 0.7407407407407408

In [71]:
# Выбираем лучшую модель
i_max = f1s.index(max(f1s))
best_c_model = c_models[i_max]
best_c_model

LogisticRegression(penalty='l1', solver='saga')

In [72]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred2 = best_c_model.predict(x_test2)
f1 = f1_score(y_test2, test_pred2, average='weighted')
print(f1)

0.5555555555555556

In [73]:
# Вспоминаем алгоритм решения задачи кластеризации - метод k-средних
# Параметр n_clusters - количество кластеров, по умолчанию равен 8
k_models = []
k_models.append(KMeans(n_clusters=5))
k_models.append(KMeans(n_clusters=8))
k_models.append(KMeans(n_clusters=20))
k_models.append(KMeans(n_clusters=40))

In [74]:
# Выделим используемые параметры
x_labels2 = column_names2[0:-1]
x = pd.concat([sc_train2[x_labels2], sc_val2[x_labels2], sc_test2[x_labels2]])
x

    catsize  domestic  hair  toothed  breathes  milk  venomous  airborne
0       0.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
1       1.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
2       0.0       0.0   0.0      0.0       1.0   0.0       0.0       1.0
3       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
4       0.0       0.0   0.0      0.0       1.0   0.0       0.0       1.0
5       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
6       1.0       0.0   0.0      1.0       1.0   0.0       1.0       0.0
7       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
8       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
9       1.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
10      1.0       0.0   0.0      0.0       0.0   0.0       1.0       0.0
11      1.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
12      0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
13      0.0       0.0   0.0      0.0       1.0   0.0       0.0       1.0
14      1.0       1.0   0.0      0.0       1.0   0.0       0.0       0.0
15      0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
16      0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
17      0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
18      1.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
19      0.0       0.0   0.0      1.0       1.0   0.0       1.0       0.0
20      1.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
21      1.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
22      0.0       1.0   0.0      1.0       1.0   0.0       0.0       0.0
23      1.0       1.0   0.0      1.0       1.0   0.0       0.0       0.0
24      0.0       0.0   1.0      0.0       1.0   0.0       0.0       1.0
0       0.0       1.0   0.0      1.0       1.0   0.0       0.0       0.0
1       1.0       0.0   0.0      1.0       1.0   0.0       1.0       0.0
2       0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
3       1.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
4       0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
5       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
6       0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
7       1.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
8       0.0       0.0   0.0      0.0       1.0   0.0       1.0       1.0
0       0.0       0.0   0.0      0.0       1.0   0.0       0.0       0.0
1       1.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
2       1.0       0.0   0.0      1.0       0.0   0.0       0.0       0.0
3       0.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0
4       0.0       0.0   0.0      0.0       1.0   0.0       0.0       1.0
5       0.0       0.0   0.0      1.0       1.0   0.0       0.0       0.0
6       0.0       1.0   0.0      1.0       1.0   0.0       0.0       0.0
7       0.0       0.0   0.0      0.0       1.0   0.0       0.0       1.0
8       1.0       0.0   0.0      0.0       0.0   0.0       0.0       0.0

In [75]:
# Произведем кластеризацию
for model in k_models:
    model.fit(x)

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:3: ConvergenceWarning: Number of distinct clusters (15) found smaller than n_clusters (20). Possibly due to duplicate points in X.
  This is separate from the ipykernel package so we can avoid doing imports until
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:3: ConvergenceWarning: Number of distinct clusters (15) found smaller than n_clusters (40). Possibly due to duplicate points in X.
  This is separate from the ipykernel package so we can avoid doing imports until

In [77]:
# Оценим качество результата
sils = []
for model2 in k_models:
    cluster_labels = model2.predict(x)
    s = silhouette_score(x, cluster_labels)
    sils.append(s)
    print(s)

0.5486797929552701
0.6971104817575527
0.8372093023255814
0.8372093023255814

In [78]:
# Выбираем лучшую модель
i_max = sils.index(max(sils))
best_k_model = k_models[i_max]
print(best_k_model)
print(sils[i_max])

KMeans(n_clusters=20)
0.8372093023255814